a.out
*.obj
a.exe
*/a.exe
bash-it
bashit
bashit.exe
bash-it.exe
*/bashit.exe
*/bash-it.exe
distrib
errors.log
error.log
*/errors.log
*/error.log
bash-it.*
bashit.*
Bash-It*
BashIt*
Bashit*
.DS_Store
Bash-It/*
Bashit/*
BashIt/*
demo.h
